.home {
    margin: auto;
    margin-top: 1em;
    text-align: center;
    width: 600px;

    .column {
        border: 3px solid black;
        border-radius: 20px;
        background-color:lavenderblush;
        margin: 1em;
        padding: 1em;
        height: 200px;
        }
}

